.pusher {
    background-color: #DADADA !important;
}

.scroll{
    overflow: auto;
    white-space: nowrap;
}

body {
    background-color: #DADADA !important;
}

.menu_navbar{
    margin-top:0 !important;
}        

.menu_mostrar {
    display: none !important;
}

.menu_ocultar {
    display: flex;
}

@media only screen and (max-width: 700px) {
    .menu_ocultar {
        display: none !important;
    }
    
    .menu_mostrar {
        display: flex !important;
    }
}